{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        {% set formFlash = app.flashes('success') %}
        {% if formFlash %}
            {% for message in formFlash %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        {% else %}
            {{ form(form) }}
        {% endif %}
        <a href="{{ path('clients') }}">Назад к списку</a>
    </div>
{% endblock %}
