{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Информация о клиенте</h1>
        <p>Имя: {{ info.name }}</p>
        <p>Фамиилия: {{ info.surname }}</p>
        <p>Телефон: {{ info.phone }}</p>
        <p>Email: {{ info.email }}</p>
        <p>Образование: {{ info.education }}</p>
        <p>Скоринг: {{ info.scoring }}</p>
        <p>Согласие на обработку данных: {{ (info.agree)?'Согласен':'Не согласен' }}</p>
        <a href="{{ path('clients') }}">Назад к списку</a>
    </div>

{% endblock %}
