{% extends 'base.html.twig' %}

{% block title %}Hello ClientlistController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        li.active {
            color: red;
        }

        .navigation ul, .navigation ul li {
            display: inline-block;
        }

        .navigation a {
            text-decoration: none;
            color: black;
        }

        .navigation .disabled {
            color: gray;
        }
    </style>


    <div class="example-wrapper">
        <h1>Клиенты</h1>
        <a href="{{ path('add_client') }}">Добавить клиента</a>


        <table class="table table-striped table-middle-aligned">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Телефон</th>
                <th scope="col">Email</th>
                <th scope="col">Образование</th>
                <th scope="col">Согласие на обработку данных</th>
                <th scope="col">Скоринг</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% for post in paginator.results %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.surname }}</td>
                    <td>{{ post.phone }}</td>
                    <td>{{ post.email }}</td>
                    <td>{{ post.education }}</td>
                    <td>{{ (post.agree)?'Согласен':'Не согласен' }}</td>
                    <td>{{ post.scoring }}</td>
                    <td><a href="{{ path('clientdetail',{id: post.id}) }}">Посмотреть</a></td>
                    <td><a href="{{ path('update_client',{id: post.id}) }}">Редактировать</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">{{ 'post.no_posts_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {% if paginator.hasToPaginate %}
            <div class="navigation text-center">
                <ul class="pagination">
                    {% if paginator.hasPreviousPage %}
                        <li class="prev"><a href="{{ path('clients', {page: paginator.previousPage}) }}" rel="previous"><i
                                        class="fa fw fa-long-arrow-left"></i> {{ '<'|trans }}</a></li>
                    {% else %}
                        <li class="prev disabled"><span><i
                                        class="fa fw fa-arrow-left"></i> {{ '<'|trans }}</span></li>
                    {% endif %}

                    {% for i in 1..paginator.lastPage %}
                        {% if i == paginator.currentPage %}
                            <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
                        {% else %}
                            <li><a href="{{ path('clients', {page: i}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.hasNextPage %}
                        <li class="next"><a href="{{ path('clients', {page: paginator.nextPage}) }}"
                                            rel="next">{{ '>'|trans }} <i class="fa fw fa-arrow-right"></i></a>
                        </li>
                    {% else %}
                        <li class="next disabled"><span>{{ '>'|trans }} <i
                                        class="fa fw fa-arrow-right"></i></span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

